@import '_normalize';

// Flexin'---------
body, .content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}


.alan {
  align-self: flex-start;
}

.weather {
  align-self: flex-end;
  order: 5;
}

.footer {
  align-self: center;
  margin-top: auto;
}

//-----------------

.logo{
  min-height: 200px;
  margin-top: -75px;
  padding: 0px;
  h1 {
    font-size: 70px;
    font-weight: bolder;
  }
  h4 {
    position: relative;
    font-weight: bolder;
    top: -55px;
    left: -50px;
  }
  i {
    color: #ffff00;
    font-size: 99px;
    position: relative;
    top: 81px;
    left: 80px;
  }
}

body {
  font-family: 'Poiret One', cursive;
  background-color: #FCFBE3;
  font-size: 16px;
  min-height: 100vh;
}
.link  {
  color: #b22222;
  &:hover {
    color: lighten(#b22222, 30%);
    text-decoration: none;
  }
}
.content {
  width: 90%;
  margin-top: auto;
  align-self: center;
  .alan, .weather {
    font-size: 20px;
  }
}

@media screen and (min-width: 600px){
  .content {
    max-width: 800px;
    font-size: 30px;
    .alan, .weather {
      font-size: 25px;
    }
  }
  .footer {
    font-size: 20px;
  }
  .logo {
    h1 {
      font-size: 100px;
    }
    h4{
      top: -75px;
      left: -95px;
    }
    i {
      top: 105px;
      left: 104px;
    }
  }
}
