@import '_normalize';

/* Flexin'---------*/
body, .content {
  font-size: 30px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content button {
  border: 0px;
  transition: all .5s;
  &:hover {
    background-color: black;
    color: salmon;
  }
}

.sites {
  position: absolute;
  left: 0;
  top: 0;
}
.alan {
  position: absolute;
  top: -40px;
  display: none;
}
.gary {
  position: absolute;
  left: 80px;
  top: 10px;
  display: none;
}

.apps {
  position: absolute;
  bottom: 0;
  right: 0;
}
.weather {
  position: absolute;
  bottom: 10px;
  right: 150px;
  display: none;
}
.wiki-viewer {
  position: absolute;
  bottom: -40px;
  right: 0;
  display: none;
}

.footer {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  margin-top: auto;
}

/*-----------------*/

.logo{
  min-height: 200px;
  margin-top: -75px;
  padding: 0px;
  h1 {
    font-size: 75px;
    font-weight: bolder;
  }
  h4 {
    position: relative;
    font-weight: bolder;
    top: -55px;
    left: -50px;
  }
  i {
    color: #ffff00;
    font-size: 99px;
    position: relative;
    top: 81px;
    left: 80px;
  }
}

body {
  font-family: 'Poiret One', cursive;
  background-color: #FCFBE3;
  font-size: 16px;
  min-height: 100vh;
}
.link  {
  color: #b22222;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  &:hover {
    color: lighten(#b22222, 30%);
    text-decoration: none;
  }
}
.content {
  width: 90%;
  margin-top: auto;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  .alan, .weather, .gary {
    font-size: 20px;
  }
}

@media screen and (min-width: 600px){
  .content {
    max-width: 800px;
    font-size: 30px;
    .alan, .weather, .gary {
      font-size: 25px;
    }
  }
  .footer {
    font-size: 20px;
  }
  .logo {
    h1 {
      font-size: 100px;
    }
    h4{
      top: -75px;
      left: -95px;
    }
    i {
      top: 105px;
      left: 104px;
    }
  }
}
