@import "_pikabu";
@import '_normalize';

body {
  font-family: "Josefin Sans", sans-serif;
}

/*==========================
Center page content
==========================*/

.pikabu-container {
  background: #fff;
  min-height: 100vh;
  max-width: 960px;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
}

header {
  font-size: 20px;
  a.pikabu-nav-toggle {
    z-index: 10;
    padding: 10px;
    transition: all .2s;
    border-radius: 2px;
  }
  a.pikabu-nav-toggle.right {
    i {
      opacity: 0.7;
    }
    position: absolute;
    right: 0px;
    &:hover {
      background-color: skyblue;
      color: white;
    }
  }
  a.pikabu-nav-toggle.left {
    i {
      opacity: 0.7;
    }
    position: absolute;
    left: 0px;
    &:hover {
      background-color: lighten(tomato, 5%);
      color: white;
    }
  }
}

.logo {
  font-family: "Poiret One", sans-serif;
  align-self: center;
  margin: auto;
  width: 359px;
  position: relative;
  h1 {
    font-size: 82px;
    position: absolute;
    top: -136px;
  }
  h4 {
    position: absolute;
    top: -15px;
    left: 46px;
  }
  i {
    color: #ffff00;
    font-size: 120px;
    position: absolute;
    top: -165px;
    right: 41px;
  }
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding: 10px;
}


/*==========================
Left page content
==========================*/

.pikabu-sidebar--left {
  background-color: lighten(tomato, 5%);
  text-align: center;
  border: 1px solid black;
  ul {
    padding: 100px 0px;
    list-style: none;
    li {
      padding: 20px;
      a {
        font-size: 20px;
        text-decoration: none;
        color: black;
        transition: all .2s;
        &:hover {
          color: firebrick;
        }
      }
    }
  }
}

/*==========================
Right page content
==========================*/

.pikabu-sidebar--right {
  background-color: skyblue;
  text-align: center;
  border: 1px solid black;
  ul {
    list-style: none;
    padding: 100px 0px;
    li {
      padding: 20px;
      a {
        font-size: 20px;
        text-decoration: none;
        color: black;
        transition: all .2s;
        &:hover {
          color: blue;
        }
      }
    }
  }
}
